@import url("https://fonts.googleapis.com/css?family=VT323");

* {
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    cursor: default;
    font-family: "VT323", monospace;
}

#background-video {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.snowflake {
    position: fixed;
    top: -50px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    z-index: auto;
    animation: fall linear infinite, drift linear infinite;
}

@keyframes fall {
    0% {
        top: -50px;
        visibility: visible;
        opacity: 1;
    }

    100% {
        top: 100vh;
        opacity: 0.6;
    }
}

@keyframes drift {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(10px * var(--drift)));
    }
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    color: white;
    font-size: 2rem;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

.content {
    display: none;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    width: 100%;
    max-width: 600px;
    text-align: center;
    height: 600px;
}
 
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.button {
    display: inline-block;
    text-decoration: none;
    padding: 0;
    color: none;
    background-color: none;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease;
}
.button:hover {
    transform: scale(1.05);
    background-color: transparent;
}

.profile-box {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    border: 3px solid #0e86e9;
    text-align: center;
    color: white;
    box-shadow: 0 4px 10px rgba(11, 113, 209, 0.8);
    width: 200%;
    max-width: 100%; 
    overflow: hidden;
    display:row;
    flex-direction: row;
    align-items: center;
    margin: 20px auto;
}

.kity {
    position:relative;
    top: 58px;
    left: 8%;
    transform: translateX(-50%);
    pointer-events: none;
    width: 100px;
    height: auto;
    z-index: 4;
}

.profile-box:hover {
    background-color: rgba(6, 124, 221, 0.2);
    box-shadow: 0 8px 20px rgba(2, 165, 240, 0.8);
    transform: translateY(-5px);
}

@keyframes rotateGlow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.profile-box img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 2px solid white;
    transition: border-color 0.3s;
}

.profile-box img:hover {
    border-color: #0a80e0;
}


.profile-box h3 {
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.profile-box p {
    font-size: 1rem;
    color: #ccc;
}


    .particle {
      position: absolute;
      width: 6px;
      height: 6px;
      background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(17, 96, 199) 60%, rgba(255,182,193,0) 100%);
      border-radius: 50%;
      pointer-events: none;
      animation: move-and-fade 1.5s ease-out forwards;
    }


    @keyframes move-and-fade {
      0% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
      }
      100% {
        opacity: 0;
        transform: translate(calc(-50px + 100px * var(--x-offset)), calc(-50px + 100px * var(--y-offset))) scale(0.5);
      }
      
